<!DOCTYPE HTML>
<html lang="en-us">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Scroll</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/screen.css" media="all">
	<style type="text/css">
	</style>
</head>
<body>
	<div class="view">
		{{{body}}}
	</div>
</body>
<script type="text/javascript">
{{#if list}}
	var birdList = {{{list}}};
{{/if}}
{{#id}}
	var thisBird = "{{.}}";
{{/id}}
</script>
<script type="text/javascript" src="/javascripts/handlebars.js"></script>
<script type="text/javascript" src="/javascripts/templates.js"></script>
<script type="text/javascript" src="/javascripts/router.js"></script>
<script type="text/javascript" src="/javascripts/model.js"></script>
<script type="text/javascript" src="/javascripts/bird-model.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>
</html>