{{^frag}}<!DOCTYPE HTML>
<html lang="en-us">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=no">
	<title>Scroll</title>
	{{#if fixed}}
	<link rel="stylesheet" type="text/css" href="/stylesheets/fixed.css" media="all">
	{{else}}
	<link rel="stylesheet" type="text/css" href="/stylesheets/screen.css" media="all">
	{{/if}}
</head>
<body>
	<div class="view">
		{{/frag}}{{{body}}}{{^frag}}
	</div>
</body>
<script type="text/javascript">
{{#if list}}
	var birdList = {{{list}}};
{{/if}}
{{#id}}
	var thisBird = "{{.}}";
{{/id}}
</script>
<script type="text/javascript" src="/javascripts/handlebars.js"></script>
<script type="text/javascript" src="/javascripts/templates.js"></script>
<script type="text/javascript" src="/javascripts/router.js"></script>
<script type="text/javascript" src="/javascripts/model.js"></script>
<script type="text/javascript" src="/javascripts/bird-model.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>
</html>
{{/frag}}