<!DOCTYPE HTML>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Birds</title>
	<style type="text/css">
		img {
			max-width: 100%;
		}
	</style>
</head>
<body>
	{{{body}}}
</body>
</html>