<!DOCTYPE HTML>
<html lang="en-us">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Scroll</title>
	<style type="text/css">
		body {
			font-family: sans-serif;
			font-weight: normal;
			margin: 50px 0 0;
		}
		
		.slide {
			position:absolute;
			overflow: hidden;
/*			top:0;
			left:0;
			bottom:0;
			right:0;*/
			margin:0;
		}
		
		.hero {
/*			height: 150px;*/

			
		}
		.hero img {
			max-width: 100%;
		}
		
	 	.title {
			border-top: 4px solid black;
			color: black;
			height:40px;
			font-size:24px;
			width: 100%;
			margin:0;
			text-align: left;
		}
		
		.header {
			height: 40%;
			overflow: hidden;
			width: 100%;
			top:0;
			left:0;
			position: fixed;
			border-bottom: 5px solid black;
			background: #fff;
			z-index:1;
		}
		
		.bd {
			box-sizing:border-box;
			-moz-box-sizing:border-box;
			position: absolute;
			height:60%;
			top: 40%;
			width: 100%;
			padding: 0px 20px;
			z-index:0;
/*			overflow: hidden;*/
			overflow: scroll;
			-webkit-overflow-scrolling: touch;
			-moz-overflow-scrolling: touch;
			border-bottom: 1px solid black;
		}
	</style>
</head>
<body>
	<div class="view">
		{{{body}}}
	</div>
</body>
<script type="text/javascript">
{{#if list}}
	var birdList = {{{list}}};
{{/if}}
{{#id}}
	var thisBird = "{{.}}";
{{/id}}
</script>
<script type="text/javascript" src="/javascripts/handlebars.js"></script>
<script type="text/javascript" src="/javascripts/templates.js"></script>
<script type="text/javascript" src="/javascripts/router.js"></script>
<script type="text/javascript" src="/javascripts/model.js"></script>
<script type="text/javascript" src="/javascripts/bird-model.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>
</html>