/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, sass/screen.scss */
body * {
  box-sizing: border-box;
}

/* line 10, sass/screen.scss */
body {
  font-family: sans-serif;
  font-weight: normal;
  margin: 50px 0 0;
}

/* line 16, sass/screen.scss */
.slide {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  margin: 0;
}

/* line 25, sass/screen.scss */
.header {
  height: 40%;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-bottom: 5px solid black;
  background: #fff;
  z-index: 1;
}

/* line 37, sass/screen.scss */
.hero {
  z-index: 1;
  display: block;
  position: relative;
  height: 85%;
  text-align: center;
  width: 100%;
  background: #000;
  padding-top: 5px;
}

/* line 48, sass/screen.scss */
.navigation {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 2;
}
/* line 58, sass/screen.scss */
.navigation .arrow {
  color: #fff;
  margin: 0;
  text-decoration: none;
  position: absolute;
  height: 100%;
  width: 50%;
}
/* line 66, sass/screen.scss */
.navigation .arrow span {
  display: block;
  position: absolute;
  top: 40%;
  left: 5px;
}
/* line 74, sass/screen.scss */
.navigation .next-link {
  left: 50%;
}
/* line 76, sass/screen.scss */
.navigation .next-link span {
  left: auto;
  right: 5px;
}

/* line 85, sass/screen.scss */
.hero-img {
  display: inline;
  max-height: 100%;
  max-width: 100%;
}

/* line 91, sass/screen.scss */
.title {
  border-top: 4px solid black;
  color: black;
  height: 40px;
  font-size: 24px;
  width: 100%;
  margin: 0;
  text-align: left;
}

/* line 101, sass/screen.scss */
.bd {
  position: absolute;
  height: 60%;
  top: 40%;
  width: 100%;
  padding: 0px 20px;
  z-index: 0;
  /*	overflow: hidden;*/
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  border-bottom: 1px solid black;
}
